@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-choice-blue-50: #EDF3F7;
    --color-choice-blue-100: #CEDDE9;
    --color-choice-blue-200: #AEC7DB;
    --color-choice-blue-300: #8EB2CC;
    --color-choice-blue-400: #6F9CBE;
    --color-choice-blue-500: #4F86B0;
    --color-choice-blue-600: #406D8F; /* Brand Blue */
    --color-choice-blue-700: #335671;
    --color-choice-blue-800: #243E51;
    --color-choice-blue-900: #162631;
    --color-choice-blue-950: #080D12;

    --color-choice-orange-50: #FDECE7;
    --color-choice-orange-100: #FACABC;
    --color-choice-orange-200: #F7A791;
    --color-choice-orange-300: #F48566;
    --color-choice-orange-400: #F26B45; /* Brand Orange */
    --color-choice-orange-500: #EE4111;
    --color-choice-orange-600: #C4350E;
    --color-choice-orange-700: #99290B;
    --color-choice-orange-800: #6E1E08;
    --color-choice-orange-900: #431205;
    --color-choice-orange-950: #180602;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  mb-0! leading-tight!;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
